@import "header";
@import "mixins";
@import "variables";
@import "footer";


.blogHeader {
    @include headerContent(url(../assets/blog-1.jpeg));
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    color: $backgroundColor;
    width: 100%;
    height: 1px;
}

.blogWrapper {
    margin-left: 100px;
    margin-right: 100px;
}

// Section One - Pineapple Chicken Recipe
.sectionOneBlog {
    padding: 20px;
}
.sectionOneBlog h2 {
    @include headerFont(30px);
    color: $primary;
}

.sectionOneBlog p {
    font-family: $bodyText;
    color: $bodyTextColor;
    font-size: 15px;
}

.recipeP {
    margin-bottom: 20px;
}

.sectionOneBlog h4 {
    @include headerFont(15px);
    color: $primary;
}

.sectionOneBlog a {
    color: $bodyTextColor;
    text-decoration: none;
}

.tags,
.share {
    display: flex;
    flex-wrap: wrap; 
}

.tags p {
    margin: 0px 10px;
}

.socialMediaIcon {
    margin: 0px 10px;
}

// Section Two - Author Bio
.sectionTwoBlog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.sectionTwoBlog h4,
.sectionThreeBlog h4,
.sectionFourBlog h4 {
    @include headerFont(15px);
    color: $primary;
}

.sectionTwoBlog p {
    color: $bodyTextColor;
}


.sectionTwoBlog__text {
    background: $backgroundColor;
    width: calc(75% - 5px);
    margin-left: 5px;
    padding: 30px;
}

.sectionTwoBlog__img {
    width: calc(25% - 30px);
}

// Section Three - Related Posts
.sectionThreeBlog__container {
    display: flex;
    flex-wrap: wrap;
}
.sectionThreeBlog h3 {
    @include headerFont(16px);
    color: $primary;
}

.sectionThreeBlog a {
    text-decoration: none;
    color: $primary;
}

.sectionThreeBlog__containerOne,
.sectionThreeBlog__containerTwo,
.sectionThreeBlog__containerThree {
    width: calc(26% - 40px);
    margin: 20px;
}

.sectionThreeBlog p {
    font-family: $bodyText;
    color: $bodyTextColor;
    font-size: 14px;
}
.sectionThreeBlog span {
    font-family: $headerFont;
    color: $primary;
}

// Section Four (Comments and Form)
.sectionFourBlog__text,
.sectionFourBlog p {
    
    color: $primary;
    font-family: $bodyText;
}

.sectionFourBlog__text {
    background: $backgroundColor;
    width: calc(75% - 20px);
    padding: 20px;
    margin-left: 20px;
}

.sectionFourBlog__comment {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
}
.sectionFourBlog__comment::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid $backgroundColor;
    border-bottom: 15px solid transparent;
    left: 87px;
}
    
.name,
.date {
    font-family: $headerFont;
}

.occupation {
    font-family: $bodyText;
}

.sectionFourBlog h4 {
    margin-top: 30px;
}

.blogForm {
    display: flex;
    flex-wrap: wrap;
}
.blogForm input,
.blogForm textarea {
    font-family: $bodyText;
    border: 1px solid #999999;
    background: white;
}

.blogForm input {
    margin-right: 10px;
    margin-top: 20px;
    width: calc(33% - 10px);
}

.blogForm textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.sectionFourBlog button {
    @include greenButton(150px);
    margin-bottom: 100px;
}


// Media Queries 

@media (max-width: 990px) {

    .sectionThreeBlog h3 {
        font-size: 14px;
    }

    .blogForm input {
        width: calc(30% - 10px);
    }
}

@media (max-width: 917px) {

    .sectionFourBlog p {
        font-size: 14px;
    }
}

@media (max-width: 875px) {

    .sectionThreeBlog h3 {
        font-size: 13px;
    }
    .sectionThreeBlog__containerOne,
    .sectionThreeBlog__containerTwo,
    .sectionThreeBlog__containerThree {
    width: calc(30% - 40px);
    }
}

@media (max-width: 763px) {

    .sectionTwoBlog p {
        font-size: 13px;
    }

    .sectionThreeBlog h3 {
        font-size: 12px;
    }
}

@media (max-width: 728px) {
    .sectionTwoBlog__text {
        margin-left: 10px;
        }
}

@media (max-width: 696px) {

    .sectionThreeBlog__containerOne,
    .sectionThreeBlog__containerTwo,
    .sectionThreeBlog__containerThree {
        width: calc(30% - 20px);
        margin: 10px;
    }
}

@media (max-width: 598px) {
    .sectionThreeBlog__container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .sectionThreeBlog h4 {
        text-align: center;
    }
    .sectionThreeBlog h3 {
        font-size: 15px;
    }

    .sectionThreeBlog__containerOne,
    .sectionThreeBlog__containerTwo,
    .sectionThreeBlog__containerThree {
        width: calc(100% - 20px);
    }
}

@media (max-width: 593px) {

    .sectionTwoBlog__text {
        width: calc(80% - 10px);
        }
}


@media (max-width: 579px) {
    .sectionThreeBlog h3 {
        font-size: 11px;
    }

}

@media (max-width: 510px) {

    .sectionOneBlog h2 {
        font-size: 24px;
    }
    .sectionOneBlog p {
        font-size: 13px;
    }

    .share {
        padding-top: 10px;
    }

    .blogForm input,
    .blogForm textarea {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    .blogWrapper {
        margin-left: 80px;
        margin-right: 80px;
    }
    .sectionTwoBlog__text {
    
        width: calc(70% - 10px);
       
    }
    
    .sectionTwoBlog__img {
        width: calc(30% - 10px);
    }
}

