@import "header";
@import "mixins";
@import "variables";
@import "footer";

.contactHeader {
    @include headerContent(url(../assets/contact-1.jpeg));
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


// Section One
.sectionOneContact h3 {
    @include headerFont(20px);
    margin-bottom: 20px;
}

.sectionOneContact h4 {
    @include headerFont(17px);
    margin: 30px 0px;
}

.sectionOneContact p {
    color: $bodyTextColor;
    font-family: $bodyText;
}

.sectionOneContact {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 70px;
}

.sectionOneContact__form {
    width: calc(70% - 60px);
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

.sectionOneContact input,
.sectionOneContact textarea {
    font-family: $bodyText;
    background: $backgroundColor;
    color: $bodyTextColor;
    border: none;
    padding: 10px 15px;
}

.sectionOneContact input {
    margin-bottom: 15px;
    margin-right: 3px;
}

.sectionOneContact textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: calc(90% - 60px);
    margin-top: 15px;
}

.sectionOneContact button {
    width: 150px;
    background: white;
    color: $mediumGreen;
    font-family: $headerFont;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
}

.sectionOne__contactDetails {
    width: 25%;
    background: $backgroundColor;
    padding: 100px 50px;
    margin: -50px 0px -70px 0px;
}

.workingDays {
    @include headerFont(13px);
    color: $primary;
}

.workingTime {
    color: $primary;
    font-size: 13px;
    margin-left: 5px;
}

.notWorking {
    font-style: italic;
}



// Media Queries 


@media (max-width: 850px) {
    .sectionOne__contactDetails {
        width: 30%;
    }
    .sectionOneContact p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .sectionOne__contactDetails {
        width: 32%;
    }
    .sectionOneContact__form {
        width: calc(68% - 60px);
    }

    .sectionOneContact form input,
    .sectionOneContact form textarea {
        width: 75%;

    }
}

@media (max-width: 730px) {
    .sectionOne__contactDetails {
        width: 35%;
    }
    .sectionOneContact__form {
        width: calc(65% - 60px);
    }
}

@media (max-width: 684px) {
    .sectionOne__contactDetails {
        width: 40%;
    }
    .sectionOneContact__form {
        width: calc(60% - 60px);
    }
}

@media (max-width: 550px) {
    .sectionOne__contactDetails {
        width: 45%;
    }
    .sectionOneContact__form {
        width: calc(55% - 30px);
        margin-left: 30px;
    }
}

@media (max-width: 480px) {
    .sectionOneContact {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .sectionOne__contactDetails {
        width: 100%;
        }
        .sectionOneContact__form {
            width: calc(100% - 30px);
            padding-bottom: 100px;
         }   

}