@import "mixins";
@import "variables";


header h1 {
    @include headerFont(46px);
}

nav { 
    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
            li {
                
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $primary;
                    font-family: $headerFont;
                    margin: 10px;

                    &:hover {
                        color: $mediumGreen;
                    }
                }
            }
        }
    }


//     ul { 
//     display: flex;
//     list-style: none;
//     nav {
//         li {
//         color: $primary;
//         }
//         a {
//             text-decoration: none;
//             display: block;
//             padding: 15px;
            
//             &:hover {
//                 color: $mediumGreen;
//             }
//         }
//     }
// }