@import "header"; 
@import "mixins";
@import "variables";
@import "footer";


.homeHeader {
    @include headerContent(url(../assets/home-1.jpeg));
}

p {
    font-family: $bodyText;
}

img {
    max-width: 100%;
    height: auto;
}

.greenLine hr {
    width: 60px;
    color: $mediumGreen;
    height: 2px;
}

.sectionOne h2,
.sectonTwo h3,
.sectionThree h2,
.sectionFive h2 {
    color: $primary;
}

.sectionOne__text h2,
.sectionThree h2,
.sectionFive h2 {
    @include headerFont(20px);
}

.sectionOne p,
.sectionTwo p,
.sectionThree p {
    color: $bodyTextColor;
}


// Section One - Most Popular Recipes
.sectionOne__container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.sectionOne__text {
    padding-top: 25%;
    padding-left: 15%;
    text-align: center;
    width: 90%;
}

.recipeButton {
    padding-top: 30px;
}

.sectionOne img {
    width: 100%;
}

.sectionOne span {
    color: $mediumGreen;
    font-family: $headerFont;
    font-size: 20px;
}

.sectionOne button {
    @include greenButton(40%);
}

// Section Two
.sectionTwo__container {
    display: grid;
    grid-template-columns: 50% 50%; 
}

.sectionTwo h3 {
    @include headerFont(15px);
}

.sectionTwo img {
    width: 100%;
}

.sectionTwo__text {
    display: grid;
    grid-template-columns: 50% 50%;
    background: $backgroundColor;
}

.sectionTwo__content {
    width: 90%;
    display: flex;
    flex-wrap: wrap;   
    padding-top: 40px;
}

.menuItem {
    width: calc(90% - 20px);
    margin-left: 10px;
}

.sectionTwo__icon {
    color: $primary;
    width: calc(10% - 20px);
    margin-left: 10px;
}


// Section Three - Our Restaurants 
.sectionThree {
    padding: 100px;
}

.sectionThree__content {
    text-align: center;
}

.diningImg {
    position: relative;
    padding-bottom: 5%;
    
}

.sectionThree__logo {
    z-index: 10;
    position: absolute;
    left: 700px;
    width: 20%;
    bottom: 200px;
}


// Section Four - Gallery
.sectionFour__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

// Section Five - Hungry Clients
.sectionFive {
    background: $lightGreen;
    padding: 150px;
    text-align: center;
}

.sectionFive p::before {
      content: open-quote; 
    }

.sectionFive p::after {
    content: close-quote;
    position: absolute;
    right: 0;
    top: 10;
}

.sectionFive p::before,
.sectionFive p::after {
    color: #EEF6D1; 
    font-size: 100px;
    margin: 20px;
}

.sectionFive p {
    font-family: $bodyText;
    font-style: italic;
}

.arrowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.leftArrow,
.rightArrow {
    font-size: 30px;
    color: $backgroundColor;
    margin: 15px;
   
}


// Media Queries 

@media (max-width: 1114px) {
    .sectionTwo__icon {
        width: calc(10% - 10px);
        margin-left: 5px;
    }

    .menuItem {
        width: calc(90% - 10px);
        margin-left: 5px;
    }

    .sectionThree__logo {
        left: 600px;
    }
    
}

@media (max-width: 1015px) {
    .sectionTwo__content {
        padding-top: 20px;
    }
}

@media (max-width: 955px) {

    .sectionTwo h3 {
        font-size: 13px;
    }
    .sectionTwo p {
        font-size: 11px;
    }

    .menuItem {
        margin-left: 15px;
    }
    .sectionThree__logo {
        left: 550px;
    }

    .sectionFive p::after {
        margin: 30px;
    }

}

@media (max-width: 830px) {
    .sectionOne p {
        font-size: 12px;
    }
    .recipeButton {
        padding-bottom: 20px;
    }
}

@media (max-width: 775px) {
    .sectionThree__logo {
        left: 450px;
        bottom: 250px;
    }
}

@media (max-width: 750px) {
    .recipeButton {
        padding-top: 0%;
    }

    .sectionFive p {
        font-size: 15px;
    }
}

@media (max-width: 680px) {
    .sectionOne__text h2,
    .sectionThree h2,
    .sectionFive h2 {
        font-size: 18px;
    }

    .sectionFive p::after {
        margin: 50px;
    }
}

@media (max-width: 665px) {
    .sectionTwo h3 {
        font-size: 12px;
    }
    .sectionTwo p {
        font-size: 10px;
    }
}


@media (max-width: 640px) {
    .sectionOne__container,
    .sectionTwo__container {
        grid-template-columns: 100%;
    }

    .sectionTwo__content {
        padding-bottom: 20px;
    }

    .sectionThree__logo {
        left: 400px;
        bottom: 200px;
    }
}


@media (max-width: 590px) {
    .sectionThree__logo {
        left: 300px;
    }
    .sectionFive p {
        font-size: 13px;
    }

.sectionFive p::before {
    margin: 8px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .sectionTwo__text {
        grid-template-columns: 100%;
    }
    .sectionTwo p {
        font-size: 12px;
    }

    .sectionThree__logo {
        left: 250px;
        bottom: 150px;
    }

    .sectionThree p {
        font-size: 13px;
    }
}

