@import "header"; 
@import "mixins";
@import "variables";
@import "footer";


.homeHeader {
    @include headerContent(url(../assets/home-1.jpeg));
}

p {
    font-family: $bodyText;
}

img {
    max-width: 100%;
    height: auto;
}

.greenLine hr {
    width: 60px;
    color: $mediumGreen;
    height: 2px;
}

.sectionOne h2,
.sectonTwo h3,
.sectionThree h2,
.sectionFive h2 {
    color: $primary;
}

.sectionOne__text h2,
.sectionThree h2,
.sectionFive h2 {
    @include headerFont(20px);
}

.sectionOne p,
.sectionTwo p,
.sectionThree p {
    color: $bodyTextColor;
}


// Section One - Most Popular Recipes
.sectionOne__container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.sectionOne__text {
    padding-top: 25%;
    padding-left: 15%;
    text-align: center;
    width: 90%;
}

.recipeButton {
    padding-top: 30px;
}

.sectionOne img {
    width: 100%;
}

.sectionOne span {
    color: $mediumGreen;
    font-family: $headerFont;
    font-size: 20px;
}

.sectionOne button {
    @include greenButton(40%);
}

// Section Two
.sectionTwo__container {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.sectionTwo__text {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sectionTwo img {
    width: 100%;
}

.sectionTwo__icon {
    color: $primary;
    size: 50px;
    position: relative;
}

// .fas fa-lemon,
// .fas fa-utensils,
// .fas fa-coffee,
// .fas fa-glass-martini,
// .fas fa-leaf,
// .fas fa-utensil-spoon {
//     color: $primary;
//     size: 50px;
// }


.sectionTwo__content {
    width: 90%;
}

.sectionTwo h3 {
    @include headerFont(15px);
}

.sectionTwo__text {
    background: $backgroundColor;
}

// Section Three - Our Restaurants 
.sectionThree {
    // position: relative;
    padding: 100px;
    text-align: center;
}

.sectionThree__logo {
    z-index: 10;
    position: absolute;
    top: 10;
    // left: 200;
    left: 5;
    right: 0;
    width: 20%;
}

.sectionThree__content {
  text-align: center;
    
}

.diningImg {
    padding-bottom: 5%;
}

// .sectionThree__text {
    
// }

// Section Four - Gallery
.sectionFour__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

// .imgOne,
// .imgTwo,
// .imgThree,
// .imgFour,
// .imgFive,
// .imgSix {
//     width: 100%;
// }

// Section Five - Hungry Clients
.sectionFive {
    background: $lightGreen;
    padding: 150px;
    text-align: center;
}

.sectionFive p::before {
      content: open-quote; 
    }

.sectionFive p::after {
    content: close-quote;
    position: absolute;
    right: 0;
    top: 10;
}

.sectionFive p::before,
.sectionFive p::after {
    color: #EEF6D1; 
    font-size: 100px;
    margin: 20px;
}

.sectionFive p {
    font-family: $bodyText;
    font-style: italic;
}

.arrowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.leftArrow,
.rightArrow {
    font-size: 30px;
    color: $backgroundColor;
    margin: 15px;
   
}


