@import "variables";

@mixin headerContent($headerImg) {
    background-image: $headerImg;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    // font-family: $headerFont;
    // font-size: 46px;
    // line-height: 24px;
    // letter-spacing: 1.1px;
    // text-transform: uppercase;
}


@mixin headerFont($fontSize) {
    font-size: $fontSize;
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    line-height: 24px;
}

@mixin quoteText($fontSize) {
    font-size: $fontSize;
    font-family: $bodyText;
    line-height: 36px;
}

@mixin greenButton($width) {
    width: $width;
    color: $backgroundColor;
    background: $mediumGreen;
    font-family: $headerFont;
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
}