$primary: #2E2E2E;
$mediumGreen: #64A604;
$lightGreen: #DDED9A;
$bodyTextColor: #999999;
$backgroundColor: #F6F6F6;
$headerFont: "Raleway", sans-serif;
$footerFont: "Raleway", sans-serif;
$bodyText: "Lora", serif;