@import "header";
@import "home";
@import "blog";
@import "contact";
@import "footer";
@import "variables";
@import "mixins";
@import "setup";

.wrapper {
    max-width: 1150px;
    width: 90%; 
    margin: 0 auto;
    overflow: hidden;
}