header h1 {
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  padding-top: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  margin: 10px;
}

nav ul li a:hover {
  color: #64A604;
}

header h1 {
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  padding-top: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  margin: 10px;
}

nav ul li a:hover {
  color: #64A604;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  background: #2E2E2E;
}

footer hr {
  color: #999999;
  width: 90%;
  height: 0.4px;
}

footer a {
  text-decoration: none;
}

footer h2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #64A604;
}

footer h3 {
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

footer p {
  color: #999999;
  font-family: "Lora", serif;
  font-size: 10px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 100px;
  padding: 180px;
}

.footer__columnOne,
.footer__columnTwo,
.footer__form {
  width: 33%;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__form input {
  color: #9999;
  background: #333333;
}

.footer__form button {
  color: #F6F6F6;
  background: #64A604;
  border: none;
}

.socialMedia a {
  color: #F6F6F6;
}

.copyright {
  background-color: #252525;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.polar a {
  color: #64A604;
  text-transform: uppercase;
}

.homeHeader {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

p {
  font-family: "Lora", serif;
}

img {
  max-width: 100%;
  height: auto;
}

.greenLine hr {
  width: 60px;
  color: #64A604;
  height: 2px;
}

.sectionOne h2,
.sectonTwo h3,
.sectionThree h2,
.sectionFive h2 {
  color: #2E2E2E;
}

.sectionOne__text h2,
.sectionThree h2,
.sectionFive h2 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
}

.sectionOne p,
.sectionTwo p,
.sectionThree p {
  color: #999999;
}

.sectionOne__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
}

.sectionOne__text {
  padding-top: 25%;
  padding-left: 15%;
  text-align: center;
  width: 90%;
}

.recipeButton {
  padding-top: 30px;
}

.sectionOne img {
  width: 100%;
}

.sectionOne span {
  color: #64A604;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.sectionOne button {
  width: 40%;
  color: #F6F6F6;
  background: #64A604;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  border: none;
}

.sectionTwo__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.sectionTwo__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.sectionTwo img {
  width: 100%;
}

.sectionTwo__icon {
  color: #2E2E2E;
  size: 50px;
  position: relative;
}

.sectionTwo__content {
  width: 90%;
}

.sectionTwo h3 {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
}

.sectionTwo__text {
  background: #F6F6F6;
}

.sectionThree {
  padding: 100px;
  text-align: center;
}

.sectionThree__logo {
  z-index: 10;
  position: absolute;
  top: 10;
  left: 5;
  right: 0;
  width: 20%;
}

.sectionThree__content {
  text-align: center;
}

.diningImg {
  padding-bottom: 5%;
}

.sectionFour__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.sectionFive {
  background: #DDED9A;
  padding: 150px;
  text-align: center;
}

.sectionFive p::before {
  content: open-quote;
}

.sectionFive p::after {
  content: close-quote;
  position: absolute;
  right: 0;
  top: 10;
}

.sectionFive p::before,
.sectionFive p::after {
  color: #EEF6D1;
  font-size: 100px;
  margin: 20px;
}

.sectionFive p {
  font-family: "Lora", serif;
  font-style: italic;
}

.arrowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.leftArrow,
.rightArrow {
  font-size: 30px;
  color: #F6F6F6;
  margin: 15px;
}

header h1 {
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  padding-top: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  margin: 10px;
}

nav ul li a:hover {
  color: #64A604;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  background: #2E2E2E;
}

footer hr {
  color: #999999;
  width: 90%;
  height: 0.4px;
}

footer a {
  text-decoration: none;
}

footer h2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #64A604;
}

footer h3 {
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

footer p {
  color: #999999;
  font-family: "Lora", serif;
  font-size: 10px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 100px;
  padding: 180px;
}

.footer__columnOne,
.footer__columnTwo,
.footer__form {
  width: 33%;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__form input {
  color: #9999;
  background: #333333;
}

.footer__form button {
  color: #F6F6F6;
  background: #64A604;
  border: none;
}

.socialMedia a {
  color: #F6F6F6;
}

.copyright {
  background-color: #252525;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.polar a {
  color: #64A604;
  text-transform: uppercase;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  color: #F6F6F6;
  width: 100%;
  height: 1px;
}

.blogWrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.sectionOneBlog {
  padding: 20px;
}

.sectionOneBlog h2 {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #2E2E2E;
}

.sectionOneBlog p {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 15px;
}

.recipeP {
  margin-bottom: 20px;
}

.sectionOneBlog h4 {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #2E2E2E;
}

.sectionOneBlog a {
  color: #999999;
  text-decoration: none;
}

.tags,
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags p {
  margin: 0px 10px;
}

.socialMediaIcon {
  margin: 0px 10px;
}

.sectionTwoBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.sectionTwoBlog h4,
.sectionThreeBlog h4,
.sectionFourBlog h4 {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #2E2E2E;
}

.sectionTwoBlog p {
  color: #999999;
}

.sectionTwoBlog__text {
  background: #F6F6F6;
  width: 75%;
  margin-left: 30px;
  padding: 30px;
}

.sectionThreeBlog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionThreeBlog h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #2E2E2E;
}

.sectionThreeBlog a {
  text-decoration: none;
  color: #2E2E2E;
}

.sectionThreeBlog__containerOne,
.sectionThreeBlog__containerTwo,
.sectionThreeBlog__containerThree {
  width: 26%;
  margin: 20px;
}

.sectionThreeBlog p {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 14px;
}

.sectionThreeBlog span {
  font-family: "Raleway", sans-serif;
  color: #2E2E2E;
}

.sectionFourBlog__text,
.sectionFourBlog p {
  color: #2E2E2E;
  font-family: "Lora", serif;
}

.sectionFourBlog__text {
  background: #F6F6F6;
  width: 75%;
  padding: 20px;
  margin-left: 20px;
}

.sectionFourBlog__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 10px;
}

.sectionFourBlog__comment::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #F6F6F6;
  border-bottom: 15px solid transparent;
  left: 87px;
}

.name,
.date {
  font-family: "Raleway", sans-serif;
}

.occupation {
  font-family: "Lora", serif;
}

.sectionFourBlog h4 {
  margin-top: 30px;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogForm input,
.blogForm textarea {
  font-family: "Lora", serif;
  border: 1px solid #999999;
  background: white;
}

.blogForm input {
  margin-right: 10px;
  margin-top: 20px;
  width: calc(33% - 10px);
}

.blogForm textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.sectionFourBlog button {
  width: 150px;
  color: #F6F6F6;
  background: #64A604;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 100px;
}

header h1 {
  font-size: 46px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  padding-top: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2E2E2E;
  font-family: "Raleway", sans-serif;
  margin: 10px;
}

nav ul li a:hover {
  color: #64A604;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  background: #2E2E2E;
}

footer hr {
  color: #999999;
  width: 90%;
  height: 0.4px;
}

footer a {
  text-decoration: none;
}

footer h2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #64A604;
}

footer h3 {
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

footer p {
  color: #999999;
  font-family: "Lora", serif;
  font-size: 10px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 100px;
  padding: 180px;
}

.footer__columnOne,
.footer__columnTwo,
.footer__form {
  width: 33%;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__form input {
  color: #9999;
  background: #333333;
}

.footer__form button {
  color: #F6F6F6;
  background: #64A604;
  border: none;
}

.socialMedia a {
  color: #F6F6F6;
}

.copyright {
  background-color: #252525;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.polar a {
  color: #64A604;
  text-transform: uppercase;
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.sectionOneContact h3 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  margin-bottom: 20px;
}

.sectionOneContact h4 {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  margin: 30px 0px;
}

.sectionOneContact p {
  color: #999999;
  font-family: "Lora", serif;
}

.sectionOneContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 70px;
}

.sectionOneContact__form {
  width: calc(70% - 60px);
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionOneContact input,
.sectionOneContact textarea {
  font-family: "Lora", serif;
  background: #F6F6F6;
  color: #999999;
  border: none;
  padding: 10px 15px;
}

.sectionOneContact input {
  margin-bottom: 15px;
  margin-right: 3px;
}

.sectionOneContact textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: calc(90% - 60px);
  margin-top: 15px;
}

.sectionOneContact button {
  width: 150px;
  background: white;
  color: #64A604;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
}

.sectionOne__contactDetails {
  width: 25%;
  background: #F6F6F6;
  padding: 100px 50px;
  margin: -50px 0px -70px 0px;
}

.workingDays {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #2E2E2E;
}

.workingTime {
  color: #2E2E2E;
  font-size: 13px;
  margin-left: 5px;
}

.notWorking {
  font-style: italic;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  background: #2E2E2E;
}

footer hr {
  color: #999999;
  width: 90%;
  height: 0.4px;
}

footer a {
  text-decoration: none;
}

footer h2 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 24px;
  color: #64A604;
}

footer h3 {
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

footer p {
  color: #999999;
  font-family: "Lora", serif;
  font-size: 10px;
}

.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 100px;
  padding: 180px;
}

.footer__columnOne,
.footer__columnTwo,
.footer__form {
  width: 33%;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__form input {
  color: #9999;
  background: #333333;
}

.footer__form button {
  color: #F6F6F6;
  background: #64A604;
  border: none;
}

.socialMedia a {
  color: #F6F6F6;
}

.copyright {
  background-color: #252525;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

.polar a {
  color: #64A604;
  text-transform: uppercase;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
